.container{
    max-width: 1440px;
    margin: 0 auto;
}
.main{
    width: 500px;
    height: 550px;
    margin: 0 auto;
    background: rgba(164, 161, 161, 0.627);
    padding: 20px;
}
.box{
    display: none;

}
.display{
    display: block;
}
.background{
    background: rgba(39, 179, 21, 0.668);
}
.salary{
    display: none;
}